{% extends "templates/main.html" %}
{% block body %}
    <!-- ========== main body start ========== -->
    <section class="tab-components">
      <div class="container-fluid">

        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="title mb-30">
                <h2 data-i18n="page1.title"></h2>
              </div>
            </div>
          </div>
        </div>

        <div id="alert-msg" class="alert alert-danger" role="alert" style="display: none">
          <span data-i18n="command.err"></span><br>
          <span id="alert-msg-text"></span>
        </div>
        <div id="ok-msg" class="alert alert-success" role="alert" style="display: none">
          <span data-i18n="command.ok"></span>
        </div>

        <form id="page1-form" action="/form" method="post" class="row g-2">
          <input type="hidden" name="page_id" id="page_id" value="1">
          <textarea id="received" hidden></textarea>
          <div class="row">
            <div class="col-lg-6">
              <div class="card-style mb-30">
                <div class="input-group mb-3">
                  <div class="input-style-4">
                    <label for="valves_loop" class="uppercase" data-i18n="page1.valves_loop"></label>
                    <input type="number" min="1" max="3600" maxlength="4" name="valves_loop" id="valves_loop"
                      data-i18n="[placeholder]page1.loop_help" value="{{ valves_loop }}" />&nbsp;<span data-i18n="page1.loop_help"></span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-style-4">
                    <label for="sensors_loop" class="uppercase" data-i18n="page1.sensors_loop"></label>
                    <input type="number" min="1" max="3600" maxlength="4" name="sensors_loop" id="sensors_loop"
                      data-i18n="[placeholder]page1.loop_help" value="{{ sensors_loop }}" />&nbsp;<span data-i18n="page1.loop_help"></span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-style-4">
                    <label for="sensors_duration" class="uppercase" data-i18n="page1.sensors_duration"></label>
                    <input type="number" min="1" max="3600" maxlength="4" name="sensors_duration" id="sensors_duration"
                      data-i18n="[placeholder]page1.duration_help" value="{{ sensors_duration }}" />&nbsp;<span data-i18n="page1.duration_help"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="button-group d-flex justify-content-left flex-wrap">
              <button id="experiment_config" type="submit" class="btn btn-primary" data-i18n="page1.button"></button>
              &nbsp;&nbsp;<button id="page1_clear" type="button" class="btn btn-warning"
                data-i18n="data.button"></button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- ========== main body end ========== -->
{% end %}

{% block modals %}
  <!-- modals -->
  <div id="modalContainer"></div>
  <div class="modal fade" id="cmdModal" tabindex="-1" aria-labelledby="cmdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cmdModalLabel">INFO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-i18n="command.sent">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="errModal" tabindex="-1" aria-labelledby="errModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errModalLabel">ERROR</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-i18n="command.error">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="okModal" tabindex="-1" aria-labelledby="okModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="okModalLabel" data-i18n="page1.ok_msg_title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-i18n="page1.ok_msg">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end modals -->
{% end %}

{% block scripts %}
<script>
  String.prototype.format = function () {
    var i = 0, args = arguments;
    return this.replace(/{}/g, function () {
      return typeof args[i] != 'undefined' ? args[i++] : '';
    });
  };
  $(document).ready(function () {
    $('label.help').each(function () {
      let link = $(this).attr('for');
      $('#modalContainer').append('<div id="modal_' + link + '"></div>');
      $('#modal_' + link).load("static/help/" + link + ".html");
      //$(this).append('<span>&nbsp;<a target="_blank" href="static/help/' + link + '.html"><i class="lni lni-question-circle"></i></a></span>');
      $(this).append('<span>&nbsp;<a href="#" id="' + link + '_alink"><i class="lni lni-question-circle"></i></a></span>');
      $("#" + link + "_alink").click(function () {
        $('#' + link + '_modal').modal('show');
      });
    });
    // init tooltips
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
    $('#page1_clear').click(function () {
      $('#page1-form')[0].reset();
      $("#alert-msg").attr("style", "display:none");
      $("#ok-msg").attr("style", "display:none");
    });
  });
</script>
{% end %}
