<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="static/images/favicon.svg" type="image/x-icon" />
  <title data-i18n="head.title"></title>

  <!-- ========== All CSS files ========= -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/lineicons.css" />
  <link rel="stylesheet" href="static/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="static/css/fullcalendar.css" />
  <link rel="stylesheet" href="static/css/main.css" />
  <link rel="stylesheet" href="static/css/custom.css" />
</head>

<body>

  <!-- ======== sidebar-nav start =========== -->
  <aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
      <a href="/page?id=0">
        <img src="static/images/logo/logo.svg" alt="logo" width="120" />
      </a>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li class="nav-item nav-item-has-children">
          <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_1" aria-controls="ddmenu_1"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.8334 1.83325H5.50008C5.01385 1.83325 4.54754 2.02641 4.20372 2.37022C3.8599 2.71404 3.66675 3.18036 3.66675 3.66659V18.3333C3.66675 18.8195 3.8599 19.2858 4.20372 19.6296C4.54754 19.9734 5.01385 20.1666 5.50008 20.1666H16.5001C16.9863 20.1666 17.4526 19.9734 17.7964 19.6296C18.1403 19.2858 18.3334 18.8195 18.3334 18.3333V7.33325L12.8334 1.83325ZM16.5001 18.3333H5.50008V3.66659H11.9167V8.24992H16.5001V18.3333Z" />
              </svg>
            </span>
            <span class="text" data-i18n="menu.experiment"></span>
          </a>
          <ul id="ddmenu_1" class="collapse dropdown-nav">
            <li>
              <a href="/page?id=0" class="active" data-i18n="menu.index"></a>
            </li>
            <li>
              <a href="/page?id=3" data-i18n="menu.page3"></a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-item-has-children">
          <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_2" aria-controls="ddmenu_2"
            aria-expanded="true" aria-label="Toggle navigation">
            <span class="icon">
              <svg width="22" height="22" viewBox="0 0 22 22">
                <path
                  d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
              </svg>
            </span>
            <span class="text" data-i18n="menu.config"></span>
          </a>
          <ul id="ddmenu_2" class="collapse show dropdown-nav">
            <li>
              <a href="/page?id=1" data-i18n="menu.page1"></a>
            </li>
            <li>
              <a href="/page?id=2" class="active" data-i18n="menu.page2"></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="promo-box">
      <h3 data-i18n="promo.title"></h3>
      <p data-i18n="promo.text"></p>
    </div>
  </aside>
  <div class="overlay"></div>
  <!-- ======== sidebar-nav end =========== -->

  <main class="main-wrapper">

    <!-- ========== top header start ========== -->
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-3">
            <div class="header-left d-flex align-items-center">
              <div class="menu-toggle-btn mr-20">
                <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                  <i class="lni lni-chevron-left me-2"></i>Menu
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-7">
            <div class="header-left text-center">
              <h1 data-i18n="intro.title"></h1>
              <p data-i18n="intro.subtitle"></p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- ========== top header end ========== -->

    <!-- ========== tab components start ========== -->
    <section class="tab-components">
      <div class="container-fluid">

        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="title mb-30">
                <h2 data-i18n="page2.title"></h2>
                <p class="text-sm" data-i18n="[html]page2.text"></p>
              </div>
            </div>
          </div>
        </div>

        <div id="alert-msg" class="alert alert-danger" role="alert" style="display: none">
          <span data-i18n="command.err"></span><br>
          <span id="alert-msg-text"></span>
        </div>
        <div id="ok-msg" class="alert alert-success" role="alert" style="display: none">
          <span data-i18n="command.ok"></span>
        </div>

        <form id="page2-form" action="/form" method="post" class="row g-2">
          <input type="hidden" name="page_id" id="page_id" value="2">
          <textarea id="received" hidden></textarea>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-style mb-30">
                <h5 class="mb-25" data-i18n="page2.A1pins"></h5>
                <div class="select-style-1" style="width: 19ex;">
                  <label for="A1M" class="uppercase" data-i18n="page2.arduino_model"></label>
                  <div class="select-position">
                    <select id="A1M" name="A1M">
                      {% if len(a1_model) and a1_model[0] == 'MEGA' %}
                      <option value="MEGA" selected>MEGA</option>
                      <option value="UNO">UNO</option>
                      {% else %}
                      <option value="UNO" selected>UNO</option>
                      <option value="MEGA">MEGA</option>
                      {% end %}
                    </select>
                  </div>
                </div>
                <h6 class="mb-25" data-i18n="[html]page2.sensors"></h6>
                <div class="table-wrapper table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Sensor 1</th>
                        <th>Sensor 2</th>
                        <th>Sensor 3</th>
                        <th>Sensor 4</th>
                        <th>Sensor 5</th>
                        <th>Sensor 6</th>
                        <th>Sensor 7</th>
                        <th>Sensor 8</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[0] }}"
                              name="A1S0" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[1] }}"
                              name="A1S1" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[2] }}"
                              name="A1S2" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[3] }}"
                              name="A1S3" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[4] }}"
                              name="A1S4" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[5] }}"
                              name="A1S5" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[6] }}"
                              name="A1S6" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_sensors[7] }}"
                              name="A1S7" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h6 class="mb-25" data-i18n="[html]page2.valves"></h6>
                <div class="table-wrapper table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Valve 1</th>
                        <th>Valve 2</th>
                        <th>Valve 3</th>
                        <th>Valve 4</th>
                        <th>Valve 5</th>
                        <th>Valve 6</th>
                        <th>Valve 7</th>
                        <th>Valve 8</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[0] }}"
                              name="A1V0" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[1] }}"
                              name="A1V1" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[2] }}"
                              name="A1V2" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[3] }}"
                              name="A1V3" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[4] }}"
                              name="A1V4" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[5] }}"
                              name="A1V5" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[6] }}"
                              name="A1V6" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a1_valves[7] }}"
                              name="A1V7" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div><!-- end card -->
              <div class="card-style mb-30">
                <h5 class="mb-25" data-i18n="page2.A2pins"></h5>
                <div class="select-style-1" style="width: 19ex;">
                  <label for="A2M" class="uppercase" data-i18n="page2.arduino_model"></label>
                  <div class="select-position">
                    <select id="A2M" name="A2M">
                      {% if len(a2_model) and a2_model[0] == 'MEGA' %}
                      <option value="MEGA" selected>MEGA</option>
                      <option value="UNO">UNO</option>
                      {% else %}
                      <option value="UNO" selected>UNO</option>
                      <option value="MEGA">MEGA</option>
                      {% end %}
                    </select>
                  </div>
                </div>
                <h6 class="mb-25" data-i18n="[html]page2.sensors"></h6>
                <div class="table-wrapper table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Sensor 1</th>
                        <th>Sensor 2</th>
                        <th>Sensor 3</th>
                        <th>Sensor 4</th>
                        <th>Sensor 5</th>
                        <th>Sensor 6</th>
                        <th>Sensor 7</th>
                        <th>Sensor 8</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[0] }}"
                              name="A2S0" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[1] }}"
                              name="A2S1" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[2] }}"
                              name="A2S2" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[3] }}"
                              name="A2S3" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[4] }}"
                              name="A2S4" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[5] }}"
                              name="A2S5" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[6] }}"
                              name="A2S6" />
                          </div>
                        </td>
                        <td class="min-width">
                          <div class="input-style-1">
                            <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_sensors[7] }}"
                              name="A2S7" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h6 class="mb-25" data-i18n="[html]page2.valves"></h6>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Valve 1</th>
                          <th>Valve 2</th>
                          <th>Valve 3</th>
                          <th>Valve 4</th>
                          <th>Valve 5</th>
                          <th>Valve 6</th>
                          <th>Valve 7</th>
                          <th>Valve 8</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[0] }}"
                                name="A2V0" />
                            </div>
                          </td>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[1] }}"
                                name="A2V1" />
                            </div>
                          </td>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[2] }}"
                                name="A2V2" />
                            </div>
                          </td>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[3] }}"
                                name="A2V3" />
                            </div>
                          </td>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[4] }}"
                                name="A2V4" />
                            </div>
                          </td>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[5] }}"
                                name="A2V5" />
                            </div>
                          </td>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[6] }}"
                                name="A2V6" />
                            </div>
                          </td>
                          <td class="min-width">
                            <div class="input-style-1">
                              <input type="text" maxlength="8" style="width: 12ex;" value="{{ a2_valves[7] }}"
                                name="A2V7" />
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- end card -->
            </div><!-- end col -->
          </div>
          <div class="mb-3">
            <div class="button-group d-flex justify-content-left flex-wrap">
              <button id="experiment_config" type="submit" class="btn btn-primary" data-i18n="page2.button"></button>
              &nbsp;&nbsp;<button id="page2_clear" type="button" class="btn btn-warning"
                data-i18n="data.button"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- end container -->
    </section>
    <!-- ========== tab components end ========== -->

    <!-- ========== footer start =========== -->

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 order-last order-md-first">
            <div class="copyright text-center text-md-start">
              <select name="language" id="languageSwitcher">
              </select>
            </div>
          </div>
          <!-- end col-->
          <div class="col-md-6">
            <div class="
                terms
                d-flex
                justify-content-center justify-content-md-end
              ">
              <p class="text-sm">
                &copy; 2022-{{__year__}} bgeneto (v{{__version__}})
              </p>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </footer>
    <!-- ========== footer end =========== -->

  </main>
  <!-- modals -->
  <div id="modalContainer"></div>
  <div class="modal fade" id="cmdModal" tabindex="-1" aria-labelledby="cmdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cmdModalLabel">INFO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-i18n="command.sent">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="errModal" tabindex="-1" aria-labelledby="errModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errModalLabel">ERROR</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-i18n="command.error">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="okModal" tabindex="-1" aria-labelledby="okModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="okModalLabel" data-i18n="page2.ok_msg_title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-i18n="page2.ok_msg">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end modals -->

  <!-- ========= All Javascript files ======== -->
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/fullcalendar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/21.6.14/i18next.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.1/jquery-i18next.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector@6.1.3/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="static/js/websocket.js"></script>
  <script src="static/js/i18n.js"></script>
  <script src="static/js/main.js"></script>
</body>

<script>
  String.prototype.format = function () {
    var i = 0, args = arguments;
    return this.replace(/{}/g, function () {
      return typeof args[i] != 'undefined' ? args[i++] : '';
    });
  };
  $(document).ready(function () {
    // get url parameters
    let searchParams = new URLSearchParams(window.location.search);
    if (searchParams.has('status')) {
      let param = searchParams.get('status');
      if (param == 1) {
        $('#okModal').modal('show');
      } else {
        $('#errModal').modal('show');
      }
    }

    $('label.help').each(function () {
      let link = $(this).attr('for');
      $('#modalContainer').append('<div id="modal_' + link + '"></div>');
      $('#modal_' + link).load("static/help/" + link + ".html");
      //$(this).append('<span>&nbsp;<a target="_blank" href="static/help/' + link + '.html"><i class="lni lni-question-circle"></i></a></span>');
      $(this).append('<span>&nbsp;<a href="#" id="' + link + '_alink"><i class="lni lni-question-circle"></i></a></span>');
      $("#" + link + "_alink").click(function () {
        $('#' + link + '_modal').modal('show');
      });
    });
    // init tooltips
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
    $('#page2_clear').click(function () {
      $('#page2-form')[0].reset();
      $("#alert-msg").attr("style", "display:none");
      $("#ok-msg").attr("style", "display:none");
    });
    $("#add_sensors").click(function () {
      var newRowAdd = '';
      let num_sensors = $("#num_sensors").val();
      for (var i = 0; i < num_sensors; i++) {
        newRowAdd +=
          '<div id="row">' +
          '<div class="input-group mb-3">' +
          '<div class="input-style-4">' +
          '<label for="sensor{}" class="uppercase" data-i18n="page2.sensor"></label>'.format(i + 1) +
          '<input type="number" id="duration{}" data-i18n="[placeholder]page2.duration" />'.format(i + 1) +
          '&nbsp;<button id="DeleteRow" class="btn btn-outline-danger" type="button"' +
          'data-bs-toggle="tooltip" data-bs-placement="top"' +
          'title="delete">delete</button>' +
          '</div>' +
          '</div>' +
          '</div>';
      }
      $('#newinput').append(newRowAdd);
    });
    $("body").on("click", "#DeleteRow", function () {
      $(this).parents("#row").remove();
    })
  });
</script>

</html>