{% extends "templates/main.html" %}
{% block body %}
<!-- ========== main body start ========== -->
<section class="tab-components">
    <div class="container-fluid">

        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="title mb-30">
                        <h2 data-i18n="index.title"></h2>
                        <p class="text-sm" data-i18n="[html]index.text"></p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>

        <div class="form-elements-wrapper">
            <form id="sent" action="/form" method="post">
                <input type="hidden" name="page_id" id="page_id" value="0">
                <input type="hidden" name="form_action" id="form_action" value="run">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-style mb-30">
                            <div class="input-style-1">
                                <label class="uppercase" data-i18n="index.exp_name"></label>
                                <input type="text" name="exp_name" id="exp_name"
                                    data-i18n="[placeholder]index.exp_desc" />
                            </div>
                            <div class="input-style-1">
                                <label class="uppercase" data-i18n="index.username"></label>
                                <input type="text" name="username" id="username"
                                    data-i18n="[placeholder]index.username" />
                            </div>
                            <div class="mb-3">
                                <div class="button-group d-flex justify-content-left flex-wrap">
                                    <button id="exp_start" type="submit" class="btn btn-primary"
                                        data-i18n="index.button"></button>&nbsp;&nbsp;
                                    <button id="exp_end" type="button" class="btn btn-danger"
                                        data-i18n="index.exp_end"></button>
                                </div>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </form>
        </div>

        <!-- ========== form-elements-wrapper start ========== -->
        <div class="form-elements-wrapper">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card-style mb-30">
                        <div class="input-style-1">
                            <label class="uppercase" data-i18n="index.output"></label>
                            <div class="log_output" id="devices_log" name="devices_log" data-i18n="index.log"></div>
                        </div>
                        <div class="mb-3">
                            <div class="button-group d-flex justify-content-left flex-wrap">
                                <button id="log_clear" type="button" class="btn btn-warning"
                                    data-i18n="index.clr_button"></button>
                            </div>
                        </div>
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end container -->
</section>
<!-- ========== main body end ========== -->
{% end %}

{% block modals %}
<!-- modals -->
<div id="modalContainer"></div>
<div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="msgModalLabel">INFO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-i18n="index.modal_msg"></div>
            <div class="text-center">
                <p style="font-style: italic;">Favor aguardar <span id="countdown-number">5</span> segundos...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errModal" tabindex="-1" aria-labelledby="errModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errModalLabel">ERROR</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-i18n="command.error">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="okModal" tabindex="-1" aria-labelledby="okModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="okModalLabel" data-i18n="page1.ok_msg_title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-i18n="index.ok_msg">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end modals -->
{% end %}

{% block scripts %}
<script src="static/js/logger.js"></script>
<script src="static/js/sweetalert2.all.min.js"></script>
<script>
    $('#log_clear').click(function () {
        $('#devices_log').html('');
    });

    $(document).ready(function () {
        $('#msgModal').on('shown.bs.modal', function () {
            countDown();
            // remove previous timeouts if it's opened more than once.
            if (typeof myModalTimeout !== 'undefined') {
                clearTimeout(myModalTimeout);
            }
            // hide it after a while
            myModalTimeout = setTimeout(function () {
                $('#msgModal').modal('hide');
            }, 3000);
        });

        //countdown
        function countDown() {
            let countdownNumberEl = $("#countdown-number");
            let countdown = 3;
            countdownNumberEl.text(countdown);
            let downloadTimer = setInterval(function () {
                countdown--; // 5 to 0
                countdownNumberEl.text(countdown);
                if (countdown <= 0) {
                    clearInterval(downloadTimer);
                }
            }, 1000);
        }

        $('#exp_end').click(function () {
            Swal.fire({
                title: 'Tem certeza...',
                text: "Que deseja encerrar a experiência em andamento?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, parar!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#form_action').val('cancel');
                    $("form:first").submit();
                }
            });
        });
    });
</script>
{% end %}